.counter{
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 10px auto;
}

.controllers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
}

.controllers--symbol{
    padding: 2px 5px;
    font-size: 16px;
}